.sidenav-elements{
    background-color: #c1a4f5;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    color: white;
    border: 33% solid black;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    color: white;
}