<h1 class="header">Contact Me</h1>
<mat-divider></mat-divider>
<mat-card class="sidenav-elements">
    <mat-card-header>
        <mat-card-title>
            <h4>Email Address: </h4>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <a href="mailto:dummy@mail.com">dummyMail&#64;mail.com</a>
    </mat-card-content>
</mat-card>
<mat-divider></mat-divider>
<mat-card class="sidenav-elements">
    <mat-card-header>
        <mat-card-title>
            <h4>Phone Number: </h4>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <a href="tel:+12345678901">(234)567-8901</a>
    </mat-card-content>
</mat-card>
<mat-divider></mat-divider>
