@use '@angular/material' as mat;

@include mat.core();

:root {
  --gpSystemLightestGrey: #DCDEDF;
  --gpSystemLighterGrey: #B8BCBF;
  --gpSystemLightGrey: #8B929A;
  --gpSystemGrey: #67707B;
  --gpSystemDarkGrey: #3D4450;
  --gpSystemDarkerGrey: #23262E;
  --gpSystemDarkestGrey: #0E141B;
  --gpStoreLightestGrey: #CCD8E3;
  --gpStoreLighterGrey: #A7BACC;
  --gpStoreLightGrey: #7C8EA3;
  --gpStoreGrey: #4e697d;
  --gpStoreDarkGrey: #2A475E;
  --gpStoreDarkerGrey: #1B2838;
  --gpStoreDarkestGrey: #000F18;
  --gpColor-Blue: #1A9FFF;
  --gpColor-BlueHi: #00BBFF;
  --gpColor-Green: #5ba32b;
  --gpColor-GreenHi: #59BF40;
  --gpColor-Orange: #E35E1C;
  --gpColor-Red: #D94126;
  --gpColor-RedHi: #EE563B;
  --gpColor-ChalkyBlue: #66C0F4;
}

html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: "Motiva Sans", Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--gpStoreDarkerGrey);
  color: var(--gpSystemLightestGrey);
}
app-root { display: flex; flex-direction: column; height: 100vh; }
